<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center>
<h1> Club Esprit</h1>
<p> Bonjour a tous </p>
<img src="{{asset('C:\Users\EYA\FirstProject\public\img')}}" alt=""/>
    <p>
        Au sein d’Esprit, les associations et clubs remplissent plusieurs rôles étant donné la diversité des motivations qui animent ceux qui en sont à l’origine. Conscients de l’importance de la vie associative, les étudiants jouent un rôle important dans l’élaboration et la transmission des messages aux destinataires.

        Ci-dessous la liste des clubs d’Esprit. N’hésitez pas à la compléter.
    </p>
    </center>
</body>
</html>